.jumbotron-fluid {
    color: #fff;
    text-align: right;
    background:url("https://s3-us-west-2.amazonaws.com/benji.to/img-jumbotron-golf_score_app.png");
    /* background-size: contain; */
    background-size:cover;
    background-repeat: no-repeat;
    background-position: fixed;
    padding-top:100px;
    padding-bottom:100px;
    opacity: .88;
    height: 400px;
}

.container {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card {
    /* margin: 0 auto; */
    float: none;
    margin-left: -52;
}

.rounded-square {
    border-radius: 20px;

}

.ball-image {
  width: 100px;
  height: 100px;
}

